html {
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, footer {
    display: flex;
    background-color: #333636;
    color: #edc588;
    a {
        color: #edc588;
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right_nav {
    display: flex;
    gap: 32px;
}

body{
    background-color: #333636;
    margin: 0;
}

.content {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333636;
    padding: 75px 230px 110px;
    gap: 150px;
    .hero_text{
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        h1{
            color: white;
            font-size: 48px;
            font-weight: 900;
            margin: 0;
        }
        p{
            color: lightgray;
            padding-bottom: 10px;
        }
        .hero_btns{
            display: flex;
            gap: 17px;
            button{
                color: #edc588;
                background-color: #333636;
                padding: 8px;
                border-radius: 8px;
                border: 2px solid lightgray;
            }
        }

    }
    .hero_img{
        flex: 1 1 auto;
    }
}

.subsection1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 230px;
    gap: 40px;
    color: #333636;
    h2{
        font-size: 36px;
        font-weight: 900;
    }
    .store_highlights{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 90px;
        text-align: center;
        
        /*  Commented out because image is already the border color
        img{
            border: 2px #333636 solid;
            border-radius: 100px;
        } */
    }
}

.testimonials{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 90px 230px;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    font-weight: lighter;
    gap: 17px;
    p{
        margin: 0;
        strong{
            font-size: 24px;
        }
    }

}
.cta_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 90px 230px;
    padding: 50px 60px;
    color: #edc588;
    border-radius: 15px;
    background-color: #333636;
    gap: 100px;
    .cta_text{
        display: flex;
        flex-direction: column;
        gap: 17px;
        h2{
            margin: 0;
            font-size: 36px;
            font-weight: 900;
        }
        p{
            margin: 0;
            font-size: 18px;
            color: lightgray;
        }
    }
    .cta_btn{
        button{
            color: #edc588;
            background-color: #333636;
            padding: 12px 20px;
            border-radius: 8px;
            border: 2px solid lightgray;
            font-size: 18px;
        }
    }
}

