$MLGA-gray: #666363;

html {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header, .footer{
    justify-content: center;
    color: MLGA-gray;
}